{{ if or (eq .desktop "gnome") (eq .desktop "kde") }}
.config/hypr/**
.config/waybar/**
.config/mako/**
.config/waypaper/**
.config/rofi/**
.config/systemd/user/hyprsunset-check.*
.config/systemd/user/wallpaper-rotate.*
.local/bin/hyprsunset-*
.local/bin/wallpaper-random
.local/bin/waybar-sysmon
.local/bin/arch-update-menu
.local/bin/arch-updates-check
.local/bin/osk-toggle
.local/bin/keybind-help
.local/bin/rofi-clipboard
dot_config/hypr/**
dot_config/waybar/**
dot_config/mako/**
dot_config/waypaper/**
dot_config/rofi/**
.Xresources
dot_Xresources
dot_Xresources.tmpl
dot_config/systemd/user/hyprsunset-check.*
dot_config/systemd/user/wallpaper-rotate.*
dot_local/bin/executable_hyprsunset-*
dot_local/bin/executable_wallpaper-random
dot_local/bin/executable_waybar-sysmon
dot_local/bin/executable_arch-update-menu
dot_local/bin/executable_arch-updates-check
dot_local/bin/executable_osk-toggle
dot_local/bin/executable_keybind-help
dot_local/bin/executable_rofi-clipboard
{{ end }}
{{ if ne .desktop "gnome" }}
.config/dconf/**
dot_config/dconf/**
dot_config/gnome-extensions.txt
{{ end }}
