font-family = Caskaydia Cove Nerd Font
font-size = 10
font-thicken = true
{{ if or (eq .desktop "gnome") (eq .desktop "kde") -}}
window-decoration = true
{{ else -}}
window-decoration = false
{{ end -}}
window-padding-x = 8
window-padding-y = 8
